{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:jest/recommended",
    "plugin:import/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["jest", "import", "prettier"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "modules": true,
      "classes": true
    }
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "strict": ["error", "global"],
    "eqeqeq": "error",
    "no-eq-null": "error",
    "no-loop-func": "error",
    "import/no-duplicates": "error",
    "import/no-unresolved": "error",
    "import/named": "error",
    "import/namespace": "error",
    "import/default": "error",
    "import/export": "error",
    "no-param-reassign": "error",
    "prefer-const": [
      "error",
      {
        "destructuring": "all"
      }
    ]
  }
}
